.button{
    position: fixed;
    bottom: 40px; /* Distance from the bottom */
    right: 40px; /* Distance from the right */
    padding: 10px 20px;
    background-color: #ffcc00; /* Example color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back{
    position: fixed;
    bottom: 40px; /* Distance from the bottom */
    left: 40px; /* Distance from the right */
    padding: 10px 20px;
    background-color: #ffcc00; /* Example color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}